<%- include("partials/header.ejs") %>

<h1>About Me</h1>
<img class="profile" src="images/my-photo.jpg" alt="my-image">
<p>
  I am a Bachelor of Science undergraduate at The University of Melbourne, 
  majoring in Computing and Software Systems with a strong academic track record. 
  My expertise lies in software development, problem-solving, and full-stack web development, 
  complemented by hands-on experience in IT projects and STEM engagement. 
  As the former President of the Physics Club and Vice-Head of Senior Projects, 
  I led initiatives that fostered collaboration, critical thinking, and innovation within 
  academic communities. Proficient in Python, C, Java, HTML, CSS, JavaScript, EJS, Express.js, 
  React, and SQL, I am passionate about using technology to tackle real-world challenges. 
  My key strengths include web development, computer science, academic tutoring in computing and STEM, 
  strategic planning, analytical problem-solving, effective communication, and resource management.</p>

<%- include("partials/footer.ejs") %>