<%- include("partials/header.ejs") %>

<h1>My Projects</h1>
<div class="project-box">
    
    <div class="project-card">
      <a href="https://chimdienn.github.io/birthday_simon_game/" target="_blank">
      <img src="images/birthday-simon.jpg" alt="Birthday Simon">
      <a href="https://chimdienn.github.io/birthday_simon_game/" target="_blank"><h2>Birthday Simon</h2></a>
      <p>A simon game for anyone's birthday.</p>
      </a>
    </div>
    

    <div class="project-card">
      <a href="https://chimdienn.github.io/weather_forecast" target="_blank">
      <img src="images/weather-forecast.jpg" alt="Weather Forecast">
      <a href="https://chimdienn.github.io/weather_forecast/" target="_blank"><h2>Weather Forecast</h2></a> 
      <p>Your city's 6-day weather forecast.</p>
      </a>
    </div>
    
    <div class="project-card">
      <a href="https://mandarin-101.onrender.com" target="_blank">
      <img src="images/mandarin-101.jpg" alt="Mandarin 101">
      <a href="https://mandarin-101.onrender.com" target="_blank"><h2>Mandarin 101</h2></a>
      <p>Learn some basic Mandarin greetings.</p>
      </a>
    </div>

    <div class="project-card">
      <a href="https://silly-name-generator.onrender.com/" target="_blank">
      <img src="images/silly-name.jpg" alt="Silly Name">
      <a href="https://silly-name-generator.onrender.com/" target="_blank"><h2>Silly Name</h2></a>
      <p>A random silly name generator.</p>
      </a>
    </div>

    <div class="project-card">
      <a href="https://note-and-do.onrender.com/" target="_blank">
      <img src="images/note-and-do.jpg" alt="Note and Do">
      <a href="https://note-and-do.onrender.com/" target="_blank"><h2>Note & Do</h2></a>
      <p>Your intuitive task management solution.</p>
      </a>
    </div>

    <div class="project-card">
      <a href="https://chimdienn.github.io/a-valentine-gift/" target="_blank">
      <img src="images/to-my-valentine.jpg" alt="To My Love">
      <a href="https://chimdienn.github.io/a-valentine-gift/" target="_blank"><h2>To My Love ❤️</h2></a>
      <p>A valentine gift to your beloved partner.</p>
      </a>
    </div>
  </div>
<%- include("partials/footer.ejs") %>