<%- include("partials/header.ejs") %>

<h1>My Projects</h1>
<div class="project-box">
    <div class="project-card">
    <img src="images/birthday-simon.jpg" alt="Birthday Simon">
    <a href="https://chimdienn.github.io/birthday_simon_game/" target="_blank"><h2>Birthday Simon</h2></a>
    <p>A simon game for anyone's birthday.</p>
    </div>

    <div class="project-card">
    <img src="images/weather-forecast.jpg" alt="Weather Forecast">
    <a href="https://chimdienn.github.io/weather_forecast/" target="_blank"><h2>Weather Forecast</h2></a> 
    <p>Your city's 6-day weather forecast.</p>
    </div>
    
    <div class="project-card">
    <img src="images/mandarin-101.jpg" alt="Mandarin 101">
    <a href="https://mandarin-101.onrender.com" target="_blank"><h2>Mandarin 101</h2></a>
    <p>Learn some basic Mandarin greetings.</p>
    </div>

    <div class="project-card">
    <img src="images/silly-name.jpg" alt="Silly Name">
    <a href="https://silly-name-generator.onrender.com/" target="_blank"><h2>Silly Name</h2></a>
    <p>A random silly name generator.</p>
    </div>

    <div class="project-card">
    <img src="images/coming-soon.jpg" alt="Coming Soon">
    <h2>TBD</h2>
    <p>Coming Soon...</p>
    </div>

    <div class="project-card">
    <img src="images/coming-soon.jpg" alt="Coming Soon">
    <h2>TBD</h2>
    <p>Coming Soon...</p>
    </div>
  </div>
<%- include("partials/footer.ejs") %>