html,
body {
  height: 100%;

}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

header,
footer {
  flex: 0 0 auto;
}

main {
  text-align: center;
  padding: 5vmin;
  flex: 1 0 auto;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

p {
  color: black;
}

.home-title {
  padding-top: 42px;
}

.home-content {
  margin: 50px 0px;
}
.home-content p{
  font-size: 28px;
}
.profile {
  height: 230px;
  width: 230px;
  object-fit: cover;
  border-radius: 50%;
  margin: 16px 0;
}

.about-me p{
  font-size: 20px;
}

.project-box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; 
  justify-content: space-between;
  margin-top: 35px;
}

.project-card {
  flex: 0 0 calc(33.33% - 20px);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-card:hover {
  transform: translateY(-5px); /* Lift the card slightly */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Enhance the shadow */
}

.project-card img {
  width: 100%;
  height: 170px;
  display: block; 
}

.project-card h2 {
  margin: 15px 10px 5px;
  font-size: 1.25em;
}

.project-card p {
  margin: 0 10px 15px;
  font-size: 1em;
  color: #555;
}

a.clickable-card {
  display: block;
  text-decoration: none; /* Optional: remove underlines */
  color: inherit; /* Optional: inherit text color from the card */
}

.contact-box{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  margin-top: 30px;
}

.contact-box h2 {
  font-size: 1.4rem;
  margin-top: 25px;
}

.contact-box p {
  font-size: 15px;
}

.contact-card {
  flex: 0 0 calc(33.33% - 20px);
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.icon-circle {
  width: 60px;
  height: 60px;
  background-color: #E5E4E2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  font-size: 24px;
}

@media (max-width: 1200px){
  .contact-card {
    flex: 0 0 calc(100% - 20px);
  }
  .contact-box p {
    font-size: 14px;
  }
} 

@media (max-width: 950px) {
  .home-content p {
    font-size: 20px;
  }

  .about-me p{
    font-size: 15px;
  }
  .project-card {
    flex: 0 0 calc(50% - 20px);
  }

  .contact-box {
    margin-top: 20px;
    gap: 20px;
  }

  .contact-box p {
    font-size: 12px;
  }

  h1 {
    font-size: 2.2rem;
  }

  footer {
    font-size: 12px;
  }
  
}